<style>
body{margin: 0;}
a {
 color:black;
 text-decoration: none;
   }
   h1 {
     font-size: 55px;
     text-align: center;

       text-align: center;
       border-bottom:2px solid gray;
       margin:0;
       padding:20px;
     }



 ol{
  border-right:2px solid gray;
  width:185px;
  margin:0;
  padding:40px;
}

 ul{
   padding:7px;
 }

 li{
   padding:1.5px;
 }

#grid{
display: grid;
grid-template-columns: 200px 1fr;
}
#grid ol{
padding-left:35px;
width: 215px;
content:200px;
}
#grid #article{
padding-left:125px;
}
@media(max-width:800px){
#grid{
  display: block;
}
ol{
  border-right:none;
}
h1 {
  border:none;
}
#grid #article{
  padding-left:0px;
}
}
   </style>
